<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="B7392B23-AB67-499D-BD2B-F4E82ECDD44B" Name="RAlgorithm" Language="1033" Version="1.0.0.4" Manufacturer="Daniel Sandberg" UpgradeCode="EC5FF260-982E-4158-AF2F-5621DA9D585C">
		<Package Id="*" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="RAlgorithmSetup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ModulesComponentGroup"/>
      <ComponentGroupRef Id="StartMenuShortcuts"/>
      <ComponentGroupRef Id="quickStartGuide"/>
		</Feature>

    <WixVariable Id="WixUILicenseRtf" Value="$(var.RubiksShell.TargetDir)\license.rtf"/>
    <UIRef Id="WixUI_Minimal" />
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="RAlgorithm"/>
      </Directory>
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="RAlgorithm">
          <Directory Id="MODULES" Name="Modules"/>
          <Directory Id="QUICKSTARTDOCS" Name="QuickStartGuide"/>
        </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			 <Component Id="ShellComponent" Guid="2FBB083C-36A6-4B4A-AD8E-E331425DF213">
         <File Source="$(var.RubiksShell.TargetDir)\RubiksShell.exe" KeyPath="yes"/>
         <File Source="$(var.RubiksShell.TargetDir)\RubiksShell.exe.config" KeyPath="no"/>
         <File Source="$(var.RubiksShell.TargetDir)\MahApps.Metro.dll" KeyPath="no"/>
         <File Id="prismInteractivityShell" Source="$(var.RubiksShell.TargetDir)\Microsoft.Practices.Prism.Interactivity.dll" KeyPath="no"/>
         <File Source="$(var.RubiksShell.TargetDir)\Microsoft.Practices.Prism.UnityExtensions.dll" KeyPath="no"/>
         <File Id="serviceLocationShell" Source="$(var.RubiksShell.TargetDir)\Microsoft.Practices.ServiceLocation.dll" KeyPath="no"/>
         <File Id="unityConfigurationShell" Source="$(var.RubiksShell.TargetDir)\Microsoft.Practices.Unity.Configuration.dll" KeyPath="no"/>
         <File Id="unityShell" Source="$(var.RubiksShell.TargetDir)\Microsoft.Practices.Unity.dll" KeyPath="no"/>
         <File Id="systemWindowsInteractivityShell" Source="$(var.RubiksShell.TargetDir)\System.Windows.Interactivity.dll" KeyPath="no"/>
         <File Id="prismCompositionShell" Source="$(var.RubiksShell.TargetDir)\Microsoft.Practices.Prism.Composition.dll" KeyPath="no"/>
         <File Id="prismMvvmDesktopShell" Source="$(var.RubiksShell.TargetDir)\Microsoft.Practices.Prism.Mvvm.Desktop.dll" KeyPath="no"/>
         <File Id="prismMvvmShell" Source="$(var.RubiksShell.TargetDir)\Microsoft.Practices.Prism.Mvvm.dll" KeyPath="no"/>
         <File Id="prismPubSubEventsShell" Source="$(var.RubiksShell.TargetDir)\Microsoft.Practices.Prism.PubSubEvents.dll" KeyPath="no"/>
         <File Id="prismSharedInterfacesShell" Source="$(var.RubiksShell.TargetDir)\Microsoft.Practices.Prism.SharedInterfaces.dll" KeyPath="no"/>
         <File Id="unityRegistrationByConventionShell" Source="$(var.RubiksShell.TargetDir)\Microsoft.Practices.Unity.RegistrationByConvention.dll" KeyPath="no"/>
			 </Component>
		</ComponentGroup>
    <ComponentGroup Id="quickStartGuide" Directory="QUICKSTARTDOCS">
      <Component Id="quickStartGuideComponent" Guid="181159D6-E8AF-4DE5-8741-40ECB173507D">
        <File Source="$(var.RubiksShell.TargetDir)\QuickStartGuide\metro-bootstrap.css" KeyPath="no"/>
        <File Source="$(var.RubiksShell.TargetDir)\QuickStartGuide\QuickStart.html" KeyPath="yes"/>
        <File Source="$(var.RubiksShell.TargetDir)\QuickStartGuide\vbAfterCopyPaste.PNG" KeyPath="no"/>
        <File Source="$(var.RubiksShell.TargetDir)\QuickStartGuide\vbAlgorithmRun.PNG" KeyPath="no"/>
        <File Source="$(var.RubiksShell.TargetDir)\QuickStartGuide\vbDllFolder.PNG" KeyPath="no"/>
        <File Source="$(var.RubiksShell.TargetDir)\QuickStartGuide\vbGettingDll.PNG" KeyPath="no"/>
        <File Source="$(var.RubiksShell.TargetDir)\QuickStartGuide\vbNewProject.PNG" KeyPath="no"/>
        <File Source="$(var.RubiksShell.TargetDir)\QuickStartGuide\vbNewProjectScreen.PNG" KeyPath="no"/>
        <File Source="$(var.RubiksShell.TargetDir)\QuickStartGuide\vbNugetManager.PNG" KeyPath="no"/>
        <File Source="$(var.RubiksShell.TargetDir)\QuickStartGuide\vbNugetManagerInstalled.PNG" KeyPath="no"/>
        <File Source="$(var.RubiksShell.TargetDir)\QuickStartGuide\vbRenamedFile.PNG" KeyPath="no"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="ModulesComponentGroup" Directory="MODULES">
      <Component Id="ShellModules" Guid="0F4CDEB3-25BE-482C-9F63-E64847BEB1E7">
        <File Source="$(var.CubeConfiguratorModule.TargetDir)\CubeConfiguratorModule.dll" KeyPath="yes"/>
        <File Source="$(var.CubeSolverModule.TargetDir)\CubeSolverModule.dll" KeyPath="no"/>
        <File Source="$(var.CubeSolverModule.TargetDir)\RubiksAlgorithmToolset.dll" KeyPath="no"/>
        <File Id="prismInteractivityModules" Source="$(var.CubeConfiguratorModule.TargetDir)\Microsoft.Practices.Prism.Interactivity.dll" KeyPath="no"/>
        <File Id="serviceLocationModules" Source="$(var.CubeConfiguratorModule.TargetDir)\Microsoft.Practices.ServiceLocation.dll" KeyPath="no"/>
        <File Id="unityConfigurationModules" Source="$(var.CubeConfiguratorModule.TargetDir)\Microsoft.Practices.Unity.Configuration.dll" KeyPath="no"/>
        <File Id="unityModules" Source="$(var.CubeConfiguratorModule.TargetDir)\Microsoft.Practices.Unity.dll" KeyPath="no"/>
        <File Source="$(var.CubeConfiguratorModule.TargetDir)\RubiksCore.dll" KeyPath="no"/>
        <File Source="$(var.CubeConfiguratorModule.TargetDir)\RubiksUIControls.dll" KeyPath="no"/>
        <File  Id="systemWindowsInteractivityModules" Source="$(var.CubeConfiguratorModule.TargetDir)\System.Windows.Interactivity.dll" KeyPath="no"/>
        <File Id="prismCompositionModules" Source="$(var.CubeConfiguratorModule.TargetDir)\Microsoft.Practices.Prism.Composition.dll" KeyPath="no"/>
        <File Id="prismMvvmDesktopModules" Source="$(var.CubeConfiguratorModule.TargetDir)\Microsoft.Practices.Prism.Mvvm.Desktop.dll" KeyPath="no"/>
        <File Id="prismMvvmModules" Source="$(var.CubeConfiguratorModule.TargetDir)\Microsoft.Practices.Prism.Mvvm.dll" KeyPath="no"/>
        <File Id="prismPubSubEventsModules" Source="$(var.CubeConfiguratorModule.TargetDir)\Microsoft.Practices.Prism.PubSubEvents.dll" KeyPath="no"/>
        <File Id="prismSharedInterfacesModules" Source="$(var.CubeConfiguratorModule.TargetDir)\Microsoft.Practices.Prism.SharedInterfaces.dll" KeyPath="no"/>
        <File Id="unityRegistrationByConventionModules" Source="$(var.CubeConfiguratorModule.TargetDir)\Microsoft.Practices.Unity.RegistrationByConvention.dll" KeyPath="no"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="StartMenuShortcuts" Directory="ApplicationProgramsFolder">
      <Component Id="ShellShortcut" Guid="BE4D5240-2424-4EA1-A5EF-0DAB0F018C29">
        <Shortcut
          Id="ShellMenuShortcut"
          Name="RAlgorithm"
          Description="An app to create and benchmark algorithms to solve Rubiks Cube."
          Target="[#RubiksShell.exe]"
          WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="ShellMenuShortcutRemove" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\RAlgorithm" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>